<header class="bg-white sticky top-0 z-50 shadow-md">
    <nav class="container mx-auto px-4 sm:px-6 py-4 flex justify-between items-center">
        <div class="text-xl sm:text-2xl font-bold text-gray-800">
            <a href="{{home_url}}" class="flex items-center {{home_link_class}}">
                <svg class="w-6 h-6 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                <span {{title_class}}>Data Engineering Concepts</span>
            </a>
        </div>
        <ul class="flex space-x-4 sm:space-x-6 text-gray-600 font-medium text-sm sm:text-base">
            <li><a href="{{about_url}}" class="hover:text-[{{hover_color}}] font-semibold">About Me</a></li>
            <li><a href="{{case_studies_url}}" class="hover:text-[{{hover_color}}] font-semibold">Case Studies</a></li>
            <li><a href="{{home_url}}" class="hover:text-[{{hover_color}}] font-semibold">Home</a></li>
        </ul>
    </nav>
</header>